@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: none;
}

body {
    font-size: 100%;
    background: #38056B;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 5px;

}

.header-image {
    height: 62px;
}

.header-menu {
    display: flex;
    gap: 32px;

}

.header-menu-item {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
}

.content {
    margin-bottom: 48px;
    border-top: 0.1px solid #ffffff;
    padding-top: 30px;
}

.content-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-main-writer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-main-writer-title {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
}

.content-main-writer-subtitle {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 25px;
}

.content-main-writer-button {
    background-color: #ffffff;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #38056B;
    font-weight: 400;
    font-size: 17px;
}

.content-main-writer-button:hover {
    background-color: #eeeeee;
}

.content-main-image {
    width: 450px;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.content-section-title {
    border-top: 0.1px solid #ffffff;
    padding-top: 48px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}

.content-section-description {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 17px;
}

.footer {
    padding: 32px;
    border-top: 0.1px solid #ffffff;
}

.footer-logo {
    height: 48px;
    display: block;
    margin: 0 auto;
}